<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
    <p>Welcome to a  puglets ugly page</p>
    <p>Her e are some links to get around</p>
    <nav>
      <ul>
        <li>
          <%= link_to 'home', root_path %>
        </li>
        <li>
          <%= link_to 'gallery', gallery_path %>
        </li>
        <li>
          <%= link_to 'contact', contact_path %>
        </li>
      </ul>
    </nav>
	</header>

<%= yield %>

</body>
</html>
